Source: sleepworker
Section: admin
Priority: optional
Maintainer: Cooper <dercoop@users.sf.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <http://sleepworker.sourceforge.net/>

Package: sleepworker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: sleepworker - observes a UNIX machine for idle time. Executes commands at sleep and wakeUp time.
 sleepworker is a UNIX daemon which observes your UNIX machine for idle time. With the help of this daemon you can execute commands or programs during idle time. If the machine wake up while idle time, the daemon will execute another command
 .
 To detect activity or inactivity, the sleepworker polls by default the device/event files from mouse and keyboard. These are all /dev/input/by-path/*event-mouse* and /dev/input/by-path/*event-kbd* files. These files where created by default for every inputdevice like mouse and keyboard. Thereby it is equal wheter it is an USB or PS/2 device.


